.group {
  display: flex;
  flex-wrap: nowrap;
  margin: 5px 0;
}
.unit {
  flex: 1;
  margin: 0 5px;
  overflow: hidden;
  display: flex;
}
.label {
  white-space: nowrap;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
  color: #a7a7a7;
}
.value {
  text-overflow: ellipsis;
  overflow: hidden;
}
.line {
  height: 1px;
  background: #eee;
  width: 100%;
  margin: 5px 0;
}
.space {
  width: 100%;
  height: 20px;
}
